<!DOCTYPE html>
<html>


  	<script>
	function Func() {
		fetch("./views/overview.json")
		.then((res) => {
			return res.json();
		})
		.then((data) => document.getElementById("details").innerHTML =
			
                
               //
               ("Close - " + data.close  + "<br>" + "Change Percent - "  + data.changePercent  + "<br>" + "Average Total Volume - "  + data.avgTotalVolume  + "<br>" + "Low - " +  data.low + "<br>" + "Open - " +  data.open +  "<br>" + "PE ratio" + "-" + data.peRatio  + "<br>" + "Week 52 High" + "-" +  data.week52High + "<br>" +  "Week 52 Low" + "-" +  data.week52Low + "<br>" + "YTD Change" +  data.ytdChange  ));
               
         
            
               

	
	
	fetch("./views/stats.json")
		.then((res) => {
			return res.json();
		})
		.then((data) => document.getElementById("details1").innerHTML =
			
                
               
               ("Marketcap" + "-" + data.marketcap  + "<br>"  + "Week 52 Change" + "-" + data.week52change + "<br>" + "Day 200 Moving Average" + "-" +  data.day200MovingAvg + "<br>" + "Day 50 Moving Average" + "-" + data.day50MovingAvg  + "<br>" + "ttmEPS" + "-" + data.ttmEPS  + "<br>" + "TTM Dividend Rate" + "-" +  data.ttmDividendRate + "<br>" + "Dividend Yield" + "-" +  data.dividendYield + "<br>" +  "Beta" + "-" + data.beta + "<br>" + "Max Change Percent" + "-" +  data.maxChangePercent  + "<br>" + "Year 5 Change Percent" + "-" + data.year5ChangePercent + "<br>"  + "Year 2 Change Percent" + "-" + data.year2ChangePercent +  +"<br>" + "Ytd Change Percent" + "-" +  data.ytdChangePercent + "<br>" + "Month 6 Change Percent" + "-" + data.month6ChangePercent + "<br>" + "Month 3 Change Percent" + "-" +  data.month3ChangePercent + "<br>" + "Month 1 Change Percent" + "-" + data.month1ChangePercent  + "<br>" + "Day 30 Change Percent" + "-" + data.day30ChangePercent + "Day 5 Change Percent" + "-"  + data.day5ChangePercent 




                ));
               
          
            
               

	
	
		fetch("./views/info.json")
		.then((res) => {
			return res.json();
		})
		.then((data) => document.getElementById("details2").innerHTML =
			
                
               
               ("Symbol" + "-" + data.symbol  + "<br>"  + "Company Name" + "-" + data.companyName + "<br>" + "Industry" + "-" + data.industry +  "<br>" + "Description" + "-" + data.description  + "<br>" + "CEO" + "-" + data.CEO + "<br>" + "Employees" + "-" + data.employees + "<br>" + "Address" + "-" + data.address  + "<br>" + "State" + "-" + data.state  + "<br>" + "City" + "-" + data.city + "<br>" + "Zip" + "-" +  data.zip + "<br>" + "Country" + "-" + data.country +  "<br>" + "Phone" + "-" + data.phone 




                ));
               
          
            }
    
        
	</script>
	
<body onload="Func()">
    
<style>
div.background {
  background: url('static/stock-market-thanksgiving-day-2021.jpg');
  border: 2px solid black;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
  margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
  font-weight: bold;
  color: #000000;
  
  
}

div.transbox p {
  margin: 5%;
   margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
  font-weight: bold;
  color: #000000;
}

div.alignfull {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    max-width: 1000%;
    width: auto;
}




</style>
    <div class="alignfull">
    
    <img src="2022_09_16_00a_Kleki.png" width="100%" height="100%" class="img-fluid">
    
  
    
    

    <div class="transbox" style="height:5000%; width:100%";>
    
    <div class="container-fluid">
 
 
   
      	<h1><p style="color:white;">
      	</p></h1>
      	
      <form class="form-inline my-2 my-lg-0" action="/" METHOD="POST">
	  <div class="form-group">

           <a href="https://finance.yahoo.com/lookup/">Search for Ticker </a>
           <input type="text" class="form-control" name = "stock_ticker" placeholder="Ticker Search">
        </div><br>
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">submit</button>
        </form>
        
        <br><br><br><br>
        

        
    </div>
    
 
	<h1>Overview</h1>

	<p id="details"></p>



	


	



	<h1>Stats</h1>
	<p id="details1"></p>
	 
     
	
	
	
	<h1>Company Info</h1>
	
	<p id="details2"></p>


	
	
	  </div>
      </div>
	


	
</body>
</html>

